.container-fluid
  %h1 Hello world
  = link_to privacy_policy_path, class: "bt btn-warning" do
    %i.fa-regular.fa-file Privacy Policy
  = link_to courses_path, class: "btn btn-success" do 
    %i.fa.fa-book Course
