// %p#notice= notice
//= render 'lessons/lesson', lesson: @lesson

<br>
.jumbotron
.container-fluid
  %h1.display-8=@lesson.title
  %p.lead=@lesson.content
  <br>
  .container-fluid
  = link_to 'Edit', edit_lesson_path(@lesson), class: 'btn btn-warning'
  = link_to 'Back to course', course_path(@lesson.course), class: 'btn btn-secondary'
  %hr.my-4/

<br>

