// %p#notice= notice

.jumbotron
.container-fluid
  %h1.display-4=@course.title
  %p.lead=@course.description
  %hr.my-4/

.container-fluid
  = link_to 'Edit', edit_course_path(@course), class:'btn btn-warning'
<br>
.container-fluid
  = link_to 'Back', courses_path, class:'btn btn-secondary'

