%hr
%footer
  .container
    .row
      .col-md-4
        Copyright
        © 
        = Time.now.year
        R-Syllabus 
        .row
        .fa.fa-envelope
        = mail_to 'ljovanovic5919rn@raf.rs'
        .row
      .col-md-4
        Privacy policy
        .row
        Terms and conditions
      .col-md-4
        About us
        .row
        = link_to 'Teach on R-Syllabus', new_course_path
%br 